<h1>Hello there</h1>
<app-rooms></app-rooms>
<!-- <app-header></app-header> -->

 <div #name></div>

 <!--<div [ngSwitch]="role"> 
    <div *ngSwitchCase="'Admin'">
        <h3>Admin user view</h3>
        
    </div>
    <div *ngSwitchCase="'User'">
        <h3>Welcome {{role}} </h3>
        
    </div>
    <div *ngSwitchDefault>
        <h3>Unauthorized Access</h3>
        <h6>You are not uthorised to view this page</h6>
    </div>
</div>  -->

<!-- <div>
    <ng-template #user></ng-template>
</div> -->